In [1]:
#LIST AND DEFAULT FUNCTION

['apple', 'banana', 'kiwi', 'cherry', 'pear']

In [ ]:
fruits = ["apple","banana","kiwi","cherry"]
fruits.append("pear")
print(fruits)

In [2]:
fruits = ["apple","banana","kiwi","cherry"]
length = len(fruits)
print(length)

4

In [5]:
fruits = ["apple","banana","kiwi","cherry"]
f1 = fruits.index("kiwi")
print(f1)

2

In [8]:
fruits = ["apple","banana","kiwi","cherry"]
fruits.insert(1,"berry")
print(fruits)

['apple', 'berry', 'banana', 'kiwi', 'cherry']

In [16]:
# Dictionary and Its Default Functions
dict = {"name": "akshay", "school" : " h.d" ,"age" : 26, "country" : "india"}
dict.clear()
print(dict)

{}

In [17]:
dict = {"name": "akshay", "school" : " h.d" ,"age" : 26, "country" : "india"}
dict.pop("school")
print(dict)

{'name': 'akshay', 'age': 26, 'country': 'india'}

In [1]:
dict = {"name": "akshay", "school" : " h.d" ,"age" : 26, "country" : "india"}
dict1 = dict.values()
print(dict1)

dict_values(['akshay', ' h.d', 26, 'india'])

In [4]:
dict = {"name": "akshay", "school" : " h.d" ,"age" : 26, "country" : "india"}
dict1 = dict.get("name")
print(dict1)

akshay

In [ ]:
dict = {"name": "akshay", "school" : " h.d" ,"age" : 26, "country" : "india"}
dict1 = dict.get("name")
print(dict1)

In [5]:
#SETS AND ITS FUNCTIONS
aset = {1,2,3}
aset.add(4)
print(aset)

{1, 2, 3, 4}

In [8]:
aset = {1,2,3,4,5,}
bset = {3,4,6,8,9}
d = aset.union(bset)
print(d)

{1, 2, 3, 4, 5, 6, 8, 9}

In [25]:
aset = {1,2,3,4,5,}
aset.clear()
print(aset)

set()

In [11]:
aset = {1,2,3,4,5,}
bset = {3,4,6,8,9}
d = aset.intersection(bset)
print(d)

{3, 4}

In [28]:
aset = {1,2,3,4,5,}
d = aset.copy()
print(aset)

{1, 2, 3, 4, 5}

In [29]:
#TUPPLE AND ITS FUNCTIONS
fruits = ("apple","banana","kiwi","cherry")
print(fruits[1])

banana

In [31]:
fruits1 = ("apple","banana","kiwi","cherry")
fruits2 = ("pear","gua")
allfruits = (fruits1 + fruits2)
print(allfruits)

('apple', 'banana', 'kiwi', 'cherry', 'pear', 'gua')

In [34]:
fruits1 = ("apple","banana","kiwi","cherry")
fruits1.count("apple")
print(fruits1)

('apple', 'banana', 'kiwi', 'cherry')

In [43]:
fruits = ("apple","banana","kiwi","cherry")
a = fruits.index("kiwi")
print(a)

2

In [45]:
fruits = ("apple","banana","kiwi","cherry")
a = fruits.count("kiwi")
print(a)

1

In [46]:
#STRINGS AND METHODS
name = ("akshay")
print(name[1])

k

In [47]:
name1 = ("akshay")
name2 =("dubhashi")
c = (name1 + " " +name2)
print(c)

akshay dubhashi

In [53]:
name1 = ("akshay")
c = name1.upper()
print(c)

AKSHAY

In [57]:
name1 = ("akshay")
c = name1[1:3]
print(c)

ks

In [58]:
name1 = ("AKSHAY")
c = name1.lower()
print(c)

akshay